<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<center><title>YOUR BUKOVI UPDATER</title>
	</head>
	<body>
		<h1>Boost<H1>
		<p>I need your bukovi right now:</p>
		<form method="POST" action="/first">
			<textarea cols = 40 id="inpbox" type="text" name="input"></textarea>
			<br>
			<button id="boost">BOOST</button>
		</form>
		<p>Finally, you get it:</p>
		<textarea id="oupbox" type="text"name="output" disabled="True"/>{{out}}</textarea>
		<br>
		<a href="/">Get back</a></center>
	</body>
</html>